body{
  background-image: linear-gradient(to bottom right, #413c69, #ad62aa);
}

.container {
  margin: 50px auto;
  width: 640px;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

.login {
  position: relative;
  margin: 0 auto;
  padding: 20px 20px 20px;
  width: 500px;
  font-size: 15px;
  height: 85vh;
}
.loginfrm{
  position: relative;
  top:100px;
  margin: 0 auto;
  padding: 20px 20px 20px;
  background-color: white;
  border-radius: 10px;
}
.login{
  text-align: center;
}
.login:before {
  content: '';
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  z-index: -1;

  border-radius: 10px;
}
.login h1 {
  margin: 3% -20px 21px;
  padding-bottom: 10px;
  padding-top: 10px;
  line-height: 40px;
  font-weight: bold;
  font-size: 40px;
  color: #413c69;
  text-align: center;
  text-shadow: 0 1px rgb(182, 200, 226);
}
.login span {
  margin: 20px 0 0;
  padding-left: 10px;
  font-weight: 500;
  font-size: 25px;
  letter-spacing: 0.2em;
}
 
.login span:first-child {
  margin-top: 0;
}
 
.login input[type=text], .login input[type=password] {
  width: 250px;
  height: 40px;
  border-radius: 10px;
  border-style: none;
}

input[type=text]:focus, input[type=password]:focus {
  border-color: none;
  outline-color: none ;
  outline-offset: 0;
} 
.login p.remember_me label {
  font-size: 16px;
  color: #413c69;
  cursor: pointer;
}
.login p.remember_me input {
  position: relative;
  bottom: 1px;
  margin-right: 4px;
  vertical-align: middle;
}
.login-help{
  text-align: center;
  margin: 20px 0;
  font-size: 14px;
  color: #413c69;
  text-shadow: 0 1px #71c9ce;
  letter-spacing: 0.1em;
}
.login-help a{
  color: #413c69;
  text-decoration: none;
}
.login-help a:hover {
  text-decoration: underline;
}
 


/*form*/

.login100-form {
  width: 100%;
}

.login100-form-title {
  display: block;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
}

/* input */
.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #d9d9d9;
  margin-bottom: 10%;
}

.label-input100 {
  font-size: 14px;
  color: #333333;
  line-height: 1.5;
  padding-left: 7px;
}

.input100 {
  font-size: 16px;
  color: #333333;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 55px;
  background: transparent;
  padding: 0 7px 0 43px;
}

.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::after {
  color: #adadad;
  font-size: 22px;

  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: calc(100% - 20px);
  bottom: 0;
  left: 0;
  padding-left: 13px;
  padding-top: 3px;
}
.input100:focus{
  outline: none;
}
.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background: #7f7f7f;
  transition: all 0.4s;
}

.input100:focus + .focus-input100::before {
  width: 80%;
}

.has-val.input100 + .focus-input100::before {
  width: 80%;
}

.input100:focus + .focus-input100::after {
  color: #a64bf4;
}

.has-val.input100 + .focus-input100::after {
  color: #a64bf4;
}

.submit{
  font-size: 15px;
  letter-spacing: 0.1em;
  padding: 10px 35px;
  background-image: linear-gradient(-90deg, #4a47a3, #ad62aa);;
  border-radius: 10px;
  transition: all 0.4s;
  color: white;
}
.submit:hover{
  padding: 15px 52.5px;
  background-image: linear-gradient(to bottom right, #4a47a3, #ad62aa);
}